{
    "title" : "I/O Docs - http://github.com/mashery/iodocs",
    "address": "0.0.0.0",
    "port" : 3000,
    "apiConfigDir" : "./public/data/",
    "debug" : false,
    "sessionSecret" : "12345",
    "basicAuth" : {
        "username" : "",
        "password" : ""
    },
    "redis" : {
        "host" : "localhost",
        "port" : 6379,
        "password" : "",
        "database" : "0"
    },
    "https" : {
        "enabled": false,
        "keyPath": "/Path/to/my.key.pem",
        "certPath": "/Path/to/my.crt.pem",
        "caCertPath": "/Path/to/my.ca.crt.pem",
        "requestCert": true,
        "rejectUnauthorized": false
    }
}
