extends layout
block content
  h1= title
  - if (apiInfo.oauth)
      script.
        window.parent.opener.livedocs.authSuccess(); //Indicate to the parent page
        window.close();
  - else (apiInfo.oauth2)
      script.
        var accToken = window.location.hash;
        window.parent.opener.livedocs.authSuccess(accToken); //Indicate to the parent page
        window.close();
