!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='stylesheets/prettify.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        
        link(type='text/css', href='stylesheets/jquery-ui-latest.custom.css', rel='stylesheet')
        link(type='text/css', href='stylesheets/alpaca.css')
        link(type="text/css", href="stylesheets/form.css", rel="stylesheet")
        link(type="text/css", href="stylesheets/alpaca-jqueryui.css", rel="stylesheet")

    body
        block content
        div(id='io-footer')
           div(class='f-left') &copy;
              a(href='http://mashery.com/io') Mashery, Inc.
           div(class='f-right') Powered by&nbsp;
              a(href='https://github.com/mashery/iodocs') I/O Docs Community Edition
        script(type='text/javascript', src='javascripts/jquery-1.11.1.min.js')
        script(type='text/javascript', src='javascripts/jquery.tmpl.js')
        script(type='text/javascript', src='javascripts/jquery-ui-latest.custom.min.js')
        script(type='text/javascript', src='javascripts/alpaca.js')
        script(type="text/javascript", src="javascripts/form.js")
        script(src='javascripts/json2.js')
        script(src='javascripts/prettify.js')
        script(src='javascripts/utilities.js')
        script(src='javascripts/livedocs.js')
        script(src='javascripts/docs.js')
        script(src='javascripts/bookmarks.js')
