/* Colors */
/* Mixins */
/*
  Setting colors for a method container, the form, and http method indicator
*/
/*
  font-family for monospace
*/
/* line 38, scss/style.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 47, scss/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 51, scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 55, scss/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

#copyright {
  font-size: 8pt;
  text-align: right;
  margin-top: 25px;
}

/* line 60, scss/style.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 66, scss/style.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 73, scss/style.scss */
del {
  text-decoration: line-through;
}

/* line 78, scss/style.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 83, scss/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 88, scss/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 98, scss/style.scss */
input,
select {
  vertical-align: middle;
}

/* line 102, scss/style.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* line 110, scss/style.scss */
select,
input,
textarea,
button {
  font: 99% sans-serif;
}

/* line 117, scss/style.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* line 121, scss/style.scss */
html {
  overflow-y: scroll;
}

/* line 125, scss/style.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 130, scss/style.scss */
a:hover,
a:active {
  outline: none;
}

/* line 136, scss/style.scss */
a,
a:active,
a:visited {
  color: #607890;
}

/* line 140, scss/style.scss */
a:hover {
  color: #036;
}

/* line 145, scss/style.scss */
ul,
ol {
  margin-left: 2em;
}

/* line 149, scss/style.scss */
ol {
  list-style-type: decimal;
}

/* line 154, scss/style.scss */
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 160, scss/style.scss */
small {
  font-size: 85%;
}

/* line 165, scss/style.scss */
strong,
th {
  font-weight: bold;
}

/* line 169, scss/style.scss */
td {
  vertical-align: top;
}

/* line 174, scss/style.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 180, scss/style.scss */
sup {
  top: -0.5em;
}

/* line 184, scss/style.scss */
sub {
  bottom: -0.25em;
}

/* line 188, scss/style.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 196, scss/style.scss */
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}

/* line 200, scss/style.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 204, scss/style.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 208, scss/style.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 212, scss/style.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 220, scss/style.scss */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

/* line 227, scss/style.scss */
button,
input,
select,
textarea {
  width: auto;
  overflow: visible;
  margin: 0;
}

/* line 233, scss/style.scss */
textarea {
  overflow: auto;
}

/* line 238, scss/style.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 244, scss/style.scss */
input:invalid,
textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0, 0, 5px, red;
  -webkit-box-shadow: 0, 0, 5px, red;
  -o-box-shadow: 0, 0, 5px, red;
  box-shadow: 0, 0, 5px, red;
}

/* line 250, scss/style.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 255, scss/style.scss */
::selection,
::-moz-selection {
  background: #f6f5c1;
  color: #444;
  text-shadow: none;
}

/* line 261, scss/style.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 269, scss/style.scss */
body,
select,
input,
textarea {
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 274, scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 278, scss/style.scss */
html {
  height: 100%;
}

/* line 282, scss/style.scss */
body {
  width: 960px;
  margin: 15px auto;
  padding-bottom: 20px;
}

/* line 288, scss/style.scss */
h1 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* line 294, scss/style.scss */
h2 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 304, scss/style.scss */
h4 {
  font-weight: normal;
  font-size: 14px;
}

/* line 309, scss/style.scss */
ul {
  margin: 0;
}

/* line 313, scss/style.scss */
li {
  list-style: none;
  margin-left: 0;
}

/* line 318, scss/style.scss */
.credentials {
  background-color: #f4f4e1;
  border: 1px solid #cbcb71;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  *zoom: 1;
  padding: 15px;
}
/* line 325, scss/style.scss */
.credentials.authed {
  background-color: #d6f6bd;
  border-color: #86bf6a;
  padding: 10px;
}
/* line 330, scss/style.scss */
.credentials.authed form {
  display: none;
}
/* line 335, scss/style.scss */
.credentials img {
  margin-left: 10px;
}
/* line 339, scss/style.scss */
.credentials h2 {
  margin-bottom: 0;
}
/* line 343, scss/style.scss */
.credentials div {
  float: left;
  margin-right: 15px;
}
/* line 348, scss/style.scss */
.credentials form {
  margin-top: 10px;
}
/* line 352, scss/style.scss */
.credentials label {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
}
/* line 358, scss/style.scss */
.credentials input {
  width: 200px;
}
/* line 362, scss/style.scss */
.credentials #oauth-auth {
  margin-top: 20px;
}

/* line 367, scss/style.scss */
#controls {
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
  border: 1px solid #999;
  border-width: 1px 0;
  padding: 10px 0;
}
/* line 374, scss/style.scss */
#controls li {
  padding-right: 10px;
  float: left;
}
/* line 378, scss/style.scss */
#controls li:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

/* line 385, scss/style.scss */
.endpoint {
  margin: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  *zoom: 1;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 392, scss/style.scss */
.endpoint.expanded {
  background-color: #fff;
}
/* line 396, scss/style.scss */
.endpoint > .title {
  font-weight: normal;
  padding: 20px 0 10px 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 401, scss/style.scss */
.endpoint > .title .name {
  font-size: 18px;
  float: left;
}
/* line 405, scss/style.scss */
.endpoint > .title .name:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 411, scss/style.scss */
.endpoint > .title .actions {
  float: right;
}
/* line 414, scss/style.scss */
.endpoint > .title .actions li {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #ddd;
}
/* line 420, scss/style.scss */
.endpoint > .title .actions li:first-child {
  border: 0;
}

/* line 427, scss/style.scss */
.methods {
  display: none;
}

/* line 432, scss/style.scss */
.method {
  font-size: 14px;
  border: 1px solid #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  /*    &.authrequired .http-method {
          background-image: url(/images/lock.png);
          background-repeat: no-repeat;
          background-position: 7px 50%;
      }*/
}
/* line 438, scss/style.scss */
.method div.headers {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
}
/* line 443, scss/style.scss */
.method div.headers h4 {
  margin-top: 0;
}
/* line 447, scss/style.scss */
.method div.headers .fields {
  display: none;
  padding: 0 15px;
  margin-bottom: 15px;
}
/* line 453, scss/style.scss */
.method div.headers .indicator {
  border-width: 5px;
  border-color: transparent transparent transparent #333;
  border-style: solid;
  display: block;
  float: left;
  margin: 11px 0 0 10px;
}
/* line 463, scss/style.scss */
.method div.headers.expanded .indicator {
  border-color: #333 transparent transparent transparent;
  margin-top: 14px;
}
/* line 470, scss/style.scss */
.method:first-of-type {
  margin-top: 0;
}
/* line 474, scss/style.scss */
.method .title {
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 478, scss/style.scss */
.method .title:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/* line 482, scss/style.scss */
.method .title:hover span {
  text-decoration: underline;
}
/* line 485, scss/style.scss */
.method .title:hover span.http-method {
  text-decoration: none;
}
/* line 492, scss/style.scss */
.method .title span {
  margin: 0 10px 0;
  line-height: 33px;
  float: left;
}
/* line 498, scss/style.scss */
.method .title .uri {
  color: #777;
}
/* line 502, scss/style.scss */
.method .title .name {
  font-size: 16px;
}
/* line 506, scss/style.scss */
.method .title .description {
  float: right;
  font-size: 12px;
  text-align: right;
}
/* line 512, scss/style.scss */
.method .title .http-method {
  padding: 0 10px;
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  line-height: 33px;
  float: left;
}
/* line 534, scss/style.scss */
.method form {
  clear: both;
  padding: 15px;
  display: none;
}
/* line 543, scss/style.scss */
.method form a.clear-results {
  color: red;
  margin-left: 20px;
  font-size: 12px;
}
/* line 548, scss/style.scss */
.method form a.clear-results:hover {
  background-color: red;
  color: #fff;
}
/* line 555, scss/style.scss */
.method table {
  margin-bottom: 15px;
  width: 100%;
}
/* line 560, scss/style.scss */
.method tr.required {
  font-weight: bold;
}
/* line 564, scss/style.scss */
.method th {
  font-weight: bold;
  text-align: left;
}
/* line 569, scss/style.scss */
.method th, .method td {
  padding: 5px;
  vertical-align: middle;
}
/* line 574, scss/style.scss */
.method td, .method pre {
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
}
/* line 578, scss/style.scss */
.method td.description {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
}
/* line 583, scss/style.scss */
.method td.type {
  font-size: 12px;
}
/* line 587, scss/style.scss */
.method h4 {
  margin-top: 15px;
  margin-bottom: 3px;
}
/* line 591, scss/style.scss */
.method h4 a.select-all {
  font-size: 12px;
  margin-left: 15px;
}
/* line 597, scss/style.scss */
.method pre {
  font-size: 12px;
  padding: 10px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 604, scss/style.scss */
.method pre.response {
  max-height: 500px;
}
/* line 609, scss/style.scss */
.method pre.prettyprint {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 614, scss/style.scss */
.method pre.error {
  background-color: rgba(255, 245, 245, 0.9);
  border-color: rgba(255, 100, 100, 0.5);
}

/* line 15, scss/style.scss */
.get {
  background: #e7f0f7;
  border-color: #aecce4;
}
/* line 19, scss/style.scss */
.get .http-method {
  background-color: #0061ac;
}
/* line 23, scss/style.scss */
.get th, .get td {
  border-bottom: 1px solid #9ac0de;
}

/* line 15, scss/style.scss */
.post {
  background: #e7f6ec;
  border-color: #afe1c0;
}
/* line 19, scss/style.scss */
.post .http-method {
  background-color: #04a73a;
}
/* line 23, scss/style.scss */
.post th, .post td {
  border-bottom: 1px solid #9ddab1;
}

/* line 15, scss/style.scss */
.put {
  background: #f9f2e9;
  border-color: #e9cead;
}
/* line 19, scss/style.scss */
.put .http-method {
  background-color: #b06300;
}
/* line 23, scss/style.scss */
.put th, .put td {
  border-bottom: 1px solid #e3c399;
}

/* line 15, scss/style.scss */
.delete {
  background: #f5e8e8;
  border-color: #deb3b3;
}
/* line 19, scss/style.scss */
.delete .http-method {
  background-color: #a20909;
}
/* line 23, scss/style.scss */
.delete th, .delete td {
  border-bottom: 1px solid #d6a1a1;
}

/* line 627, scss/style.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 636, scss/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 648, scss/style.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 657, scss/style.scss */
.invisible {
  visibility: hidden;
}

/* line 662, scss/style.scss */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 669, scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 673, scss/style.scss */
.clearfix {
  zoom: 1;
}

@media print {
  /* line 687, scss/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 690, scss/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 692, scss/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 694, scss/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 696, scss/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 698, scss/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 700, scss/style.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 702, scss/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 706, scss/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 708, scss/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
